{% extends "main.html" %}

{% block content %}

<style>
  .homecontainer {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
</style>
home
{% if request.user.is_authenticated %}

this is home
<div class="homecontainer">
  <div>
    <h3>Browse</h3>
    <a href="{% url 'home' %}">home</a>
    {% for topic in topics %}
      <a href="{% url 'home' %}?q={{ topic.name|urlencode }}">{{ topic.name }}</a>
    {% endfor %}
    <p>Search for a book</p>
  </div>

  <div>
    <p>rooms found near you : {{ total_rooms }}</p>
    
    <a href="{% url 'create-room' %}">Create Room</a>
    <div>
      <hr>
      {% for room in rooms %}
        <div>
          <span>Host: {{ room.host }}</span>
          <h5>Topic: {{ room.topic.name }}</h5>
          <a href="{% url 'update-room' room.id %}">Edit</a>
          <a href="{% url 'delete-room' room.id %}">Delete</a>
          <h5>{{ room.id }} -- <a href="{% url 'room' room.id %}">{{ room.name }}</a></h5>
          <p>Room Description: {{ room.description }}</p>
          <p>Updated: {{ room.updated }}</p>
          <p>Created: {{ room.created }}</p>
          <hr>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% else %}
<p>Please login to view this page</p>
<a href="{% url 'home' %}">Home</a>
<a href="{% url 'login' %}">Login</a>
<p>Don't have an account? </p>
<a href="{% url 'register' %}">Register</a>
{% endif %}

{% endblock content %}
